<!-- contact section-->
    <!-- https://getbootstrap.com/docs/5.2/forms/overview -->
    <h1 class="text-center">Contact Me</h1>
        <div class="row mt-4">
            <div class="col-lg-6">
                <!-- to edit google map go to https://www.embed-map.com type your location, generate html code and copy the html  -->
                <div style="max-width:100%;overflow:hidden;color:red;width:500px;height:500px;">
                    <div id="embedmap-canvas" style="height:100%; width:100%;max-width:100%;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501725.4184655224!2d106.36557702485804!3d10.755292850645242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2zVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1714296863221!5m2!1svi!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <a class="googlemaps-html" href="https://www.embed-map.com"
                        id="get-data-forembedmap">https://www.embed-map.com</a>
                    <style>
                        #embedmap-canvas img {
                            max-width: none !important;
                            background: none !important;
                            font-size: inherit;
                            font-weight: inherit;
                        }
                    </style>
                </div>
            </div>

            <div class="col-lg-6">
                <!-- form fields -->
                <form>
                    <input type="text" class="form-control form-control-lg" placeholder="Name">
                    <input type="email" class="form-control mt-3" placeholder="Email">
                    <input type="text" class="form-control mt-3" placeholder="Subject">
                    <div class="mb-3 mt-3">
                        <textarea class="form-control" rows="5" id="comment" name="text"
                            placeholder="Project Details"></textarea>
                    </div>
                </form>
                <button type="button" class="btn btn-success mt-3">Contact Me</button>
            </div>
        </div>